<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="none" name="Suite">
	<listeners>
        <listener class-name="com.automation.SeleniumFramework.Extras.TestListener"/>
    </listeners>

	<parameter name="browser" value="chrome"/>
	<test name="Test">
		<classes>
			<class name="com.automation.SeleniumFramework.Execution.DemoQAExecution"/>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
